<!--
  ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.core.PlatformExecutionManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformSuiteManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformAnnotationTransferManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformTestManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformReportManager"/>
    </listeners>


    <test name="Meetup-Connector-Test" preserve-order="true" verbose="2">
        <packages>


            <package name="org.wso2.carbon.connector.integration.test.meetup.batch"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.boards"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.categories"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.cities"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.dashboard"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.events"/>
            <package
                    name="org.wso2.carbon.connector.integration.test.meetup.everywhere.containers"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.meta"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.notification"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.oembed"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.photos"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.profiles"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.rsvps"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.streams"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.topics"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.venues"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.feed"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.group"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.members"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.everywhere.community"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.everywhere.comments"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.everywhere.event"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.everywhere.eventseed"/>
            <package name="org.wso2.carbon.connector.integration.test.meetup.everywhere.rsvps"/>
        </packages>
    </test>

</suite>


